<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.apptt.axdecor">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera.ar" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_decorax"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/network_security_config"
            android:roundIcon="@mipmap/ic_decorax_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activities.FullImageActivity"></activity>
        <activity android:name=".activities.GaleriaActivity" />
        <activity android:name=".activities.CotizacionActivity" />

        <meta-data
                android:name="com.google.ar.core"
                android:value="required" />

        <activity
                android:name=".activities.ARCrearActivity"
                android:noHistory="true" />
        <activity
                android:name=".activities.ARElegirActivity"
                android:noHistory="true" />
        <activity
                android:name=".activities.SplashActivity"
                android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.TutorialConceptosActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".activities.DatosUsuarioActivity"
                android:screenOrientation="portrait" />
    </application>

</manifest>